#sectionKuda {
    height: 90vh;
    transform: translateY(10px);
    animation: nova 1.5s linear forwards;
}

#sectioncards {
    animation: nova 1.5s linear forwards;

}

@keyframes nova {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
#getKudagetKuda {
    background-color: orangered;
    transition: 1s ease-in-out;
    width: 150px;
    padding: 10px 5px 10px 5px;
    color: white;
    border-radius: 10px;
    transform: translateY(25px);
}
#getKudagetKuda:hover {
    transform: translateY(20px);
    transition: 1s ease-in-out;
}
#mat {
    display: none;
    transition: 1s ease-in-out;
}

#getKudagetKuda:hover #mat {
    display: inline-block !important;
    /* transition: 1s ease-in-out; */
}

#freebank {
    font-size: 50px;
    line-height: 55.2px;
    color: orangered;
    font-weight: 700;
    margin: 50px 0px 15px 3px;
    font-family: sans-serif;
}
#freebank1 {
    margin-left: 175px;
}
p#freedom {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.cbn {
    display: flex;
    margin-left: 6px;
}
#imagebank {
    margin-left: 150px;
}

/* ========== only mobile view ============ */
@media all and (max-width:475px) {
    * {
        overflow-x: hidden;
    }
    #sectionKuda {
        height: 100vh;
        transform: translateY(50px);
        /* border: 2px solid firebrick; */
        width: 360px;
        margin-left: 0px;
    }

    #sectioncards {
        transform: translateY(30px);
    }

    .cbn {
        transform: translateX(50px);
    }

    #freebank {
        font-size: 35px;
        line-height: 35.2px;
        color: orangered;
        font-weight: 700;
        margin: 0px;
        font-family: sans-serif;
        overflow-y: hidden;
    }

    #freebank1 {
        margin-left: 0px;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* border: 2px solid firebrick; */
    }
    p#freedom {
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
    }

    #getKudagetKuda {
        transform: translate(60px,25px);
    }
    #imagebank {
        margin-left: 0px;
    }
    #imagebank img {
        margin-left: 70px;
        width: 200px;
    }
    #imagebank {
        animation: move 1.5s linear forwards;
        position: relative;
    }

    @keyframes move {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    .card {
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1) !important;
        margin-left: 5px;
        overflow-y: hidden !important;
    }
}


@media screen and (min-width:992px) {
    #imagebank:hover {
        transform: translateY(35px);
        transition: 2s ease-in-out;
    }

    #imagebank {
        transform: translateY(60px);
    }
}

/* <=========== Card Section ===========> */
@media all and (min-width: 992px) {
    #cards {
        margin-left: 10%;
        margin-right: 0%;
    }

    #cardss {
        transform: translateX(400px);

    }
    #imagebank {
        animation: move 1.5s linear backwards;
        position: relative;
    }

    @keyframes move {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }

        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }
}